<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>person</title>
</head>
<body>
<p th:text="${'id: ' + product.id}">VALUE</p>
<p th:text="${product.name}">VALUE</p>
<p th:text="${'description: ' + product.description}">VALUE</p>
<p th:text="${'price: ' + product.price}">VALUE</p>
<p th:text="${'category: ' + product.category.name}">VALUE</p>
<a th:href="@{/admin/products/edit/{id}(id=${product.id})}"
   th:text=Редактировать></a>
</body>
</html>